@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-image: url('../../img/Fundo-Meta.webp');
    min-height: 100vh;
    background-attachment: fixed;
    object-fit: cover;
    max-width: 100%;
    background-position: center;
    color: white;
}

.content{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.controller{
    position: absolute;
    bottom: 0;
    height: 100px;
    background-color: #181818;
    opacity: .7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.meta-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: -100px;
    margin-right: 100px;
}

.outras-metas{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.meta-semanal{
    font-weight: 700;
    font-size: 8rem;
    cursor: default;
}

.other{
    background-color: #18181890;
    padding: 10px 15px;
    border-radius: 10px;
    border: #da202065 solid 3px;
}




.textInputWrapper {
    position: relative;
    width: 180px;
    margin: 12px 5px;
    --accent-color: #da2020;
  }
  
  .textInputWrapper:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  }
  
  .textInputWrapper:before,
  .textInputWrapper:after {
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
    bottom: -1px;
    z-index: 4;
    width: 100%;
  }
  
  .textInputWrapper:focus-within:before {
    border-bottom: 1px solid var(--accent-color);
  }
  
  .textInputWrapper:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  }
  
  .textInputWrapper:focus-within:before {
    border-bottom: 1px solid var(--accent-color);
    transform: scaleX(1);
  }
  
  .textInputWrapper:focus-within:after {
    border-bottom: 2px solid var(--accent-color);
    transform: scaleX(1);
  }
  
  .textInputWrapper:after {
    content: "";
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    will-change: transform;
    border-bottom: 2px solid var(--accent-color);
    border-bottom-color: var(--accent-color);
  }
  
  .textInput::placeholder {
    transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    opacity: 1;
    user-select: none;
    color: rgba(255, 255, 255, 0.582);
  }
  
  .textInputWrapper .textInput {
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
    background-color: #252525;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
    transition-property: background-color;
    color: #e8e8e8;
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    width: 100%;
    border-left: none;
    border-bottom: none;
    border-right: none;
  }
  
  .textInputWrapper .textInput:focus,
  .textInputWrapper .textInput:active {
    outline: none;
  }
  
  .textInputWrapper:focus-within .textInput,
  .textInputWrapper .textInput:focus,
  .textInputWrapper .textInput:active {
    background-color: #353535;
  }
  
  .textInputWrapper:focus-within .textInput::placeholder {
    opacity: 0;
  }


  /* From Uiverse.io by zjssun */ 
.button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    background-color: #da2020;
    transition: all 0.2s ease;
  }
  
  .button:active {
    transform: scale(0.96);
  }
  
  .button:before,
  .button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #da2020 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #da2020 20%, transparent 30%),
      radial-gradient(circle, #da2020 20%, transparent 20%),
      radial-gradient(circle, #da2020 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #da2020 15%, transparent 20%),
      radial-gradient(circle, #da2020 20%, transparent 20%),
      radial-gradient(circle, #da2020 20%, transparent 20%),
      radial-gradient(circle, #da2020 20%, transparent 20%),
      radial-gradient(circle, #da2020 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #da2020 20%, transparent 20%),
      radial-gradient(circle, #da2020 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #da2020 15%, transparent 20%),
      radial-gradient(circle, #da2020 20%, transparent 20%),
      radial-gradient(circle, #da2020 20%, transparent 20%),
      radial-gradient(circle, #da2020 20%, transparent 20%),
      radial-gradient(circle, #da2020 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }



  .list-container{
    position: absolute;
    right: 0;
    height: 100%;
    width: 300px;
    text-align: center;
    padding: 30px 0;
    background-color: #181818;
  }

  @keyframes girar {
    0% {
        transform: rotateX(0);
        opacity: 1;
    }
    50% {
        transform: rotateX(90deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
}

#valor-meta-semanal {
    display: inline-block;
    perspective: 1000px;
}

.girando {
    display: inline-block;
    animation: girar 0.5s ease-in-out;
}